section{
    padding: 20px;
    width: 95%;
}

.left, .right{
    width: 50%;
    color: rgb(228, 233, 187);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    font-weight: normal;
    width: 100%;
}

.body{
    background-color: rgb(28, 37, 65);
    display: flex;
    flex-wrap: nowrap;
}

body{
    background-color: rgb(28, 37, 65);
    margin: 0px;
}

#navbar{
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: cadetblue;
}

.navbtn{
    transition: 500ms;
    text-align: center;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    color: beige;
    font-size: x-large;
}

.navbtn:hover{
    background-color: rgb(212, 120, 0);
    transition: 500ms;
}

img{
    width: 15vw;
}