section{
    padding: 20px;
    width: 95%;
}

.left, .right{

    color: rgb(24, 8, 61);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.left{
    width: 30%;
}

h2{
    text-align: center;
    font-weight: normal;
    width: 100%;
}

.body{
    background-color: rgb(172, 172, 172);
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

body{
    background-color: rgb(172, 172, 172);
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(2, 132, 141);
}

.navbtn{
    transition: 500ms;
    text-align: center;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.navbtn:hover{
    background-color: rgb(0, 198, 212);
    transition: 500ms;
    color: rgb(0, 0, 0);

}

img{
    width: 15vw;
   
}
td{
    padding:5px;
}
.nejma{
   font-size: 30px;
   text-align:center;
   width: 100%;
   
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.tab{
    text-align: center;
    width: 40%;
}
    
